<footer class="page-footer fixed">
	<div class="footer-copyright fixed fixed-bottom">
		<div class="container">
		<b class="orange-text"style="font-size: 3vw;" >©</b> 2024 Copyright GSP
			<a class="orange-text right" href="#!">Gestion Des Plantes</a>
		</div>
	</div>
</footer>