<footer class="page-footer fixed">
	<div class="footer-copyright fixed fixed-bottom">
		<div class="container">
			© 2024 Copyright GSP
			<a class="grey-text text-lighten-4 right" href="#!">Gestion Des Plantes</a>
		</div>
	</div>
</footer>